html,
body {
  font-family: "Google Sans";
  box-sizing: border-box;
  margin: 0;
}

html{
  background-color: #ece6cd;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 1%;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 1%;
}

li span {
  width: fit-content;
  display: block;
  color: white;
  text-align: center;
  align-items: center;
  padding: 15% 15%;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li span:hover {
  background-color: #111;
}

button {
  margin-right: 2%;
  font-family: inherit;
  height: fit-content;
  font-size: larger;
  background-color: white;
  border: black 2px solid;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

.nav-button {
  height: fit-content;
  font-family: "Google Sans";
  font-size: larger;
  background-color: white;
  border: black 2px solid;
  border-radius: 10px;
}

.nav-button:hover {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  margin: auto;
  padding-top: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gainsboro;
  padding: 0.7em;
  width: 70%;
  height: 80%;
  border-radius: 20px;
  box-shadow: 2px 1px 10px 0px #424242;
  overflow: auto;
  z-index: 1050;
}

.modal-content {
  animation-name: animate;
  animation-duration: 0.5s
}

@keyframes animate {
  from {
    top: -320px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.close {
  position: fixed;
  font-size: 30px;
  font-weight: bold;
}

.close:hover {
  cursor: pointer;
}

input {
  display: block;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px;
  border-style: double;
  border-color: black;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 49%;
}

.post-title {
  font-weight: bold;
}

div.post-title {
  max-width: 50%;
}

div.post-body {
  max-width: 50%;
}

p {
  text-align: center;
  margin: 3%;
  width: 90%;
  height: fit-content;
}

.info {
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-filling {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

img {
  margin: 1%;
  width: 50%;
  height: 50%;
}

.all-albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-body .album {
  background-color: white;
  display: flex;
  margin: 0.5%;
  padding: 0.5%;
  width: 200px;
  height: 200px;
  border: 3px solid;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 5px 4px 79px -31px rgb(34 60 80 / 20%);
  transition: all .5s ease-in-out;
  flex-direction: column;
  align-items: center;
}

.modal-body img {
  margin: 1%;
  width: 50%;
}

.modal-body p {
  font-size: 0.9em;
}

.album {
  background-color: white;
  display: flex;
  margin: 0.5%;
  padding: 0.5%;
  width: 200px;
  border: 3px solid;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 5px 4px 79px -31px rgb(34 60 80 / 20%);
  transition: all .5s ease-in-out;
  flex-direction: column;
  align-items: center;
}

.album:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.form-input {
  color: #333;
  font-size: 1.2rem;
  margin: 5px;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 50%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.information {
  display: flex;
  justify-content: center;
}

.action-buttons {
  margin: 5px;
  display: flex;
  justify-content: center;
}