html {
  font-family: "Google Sans";
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 10px;
}

li {
  float: left;
}

li span {
  height: fit-content;
  display: block;
  color: white;
  text-align: center;
  align-items: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li span:hover {
  background-color: #111;
}

.header {
  display: inline;
}
button{
  height: fit-content;
  font-family: "Google Sans";
  font-size: larger;
  background-color: white;
  border: black 2px solid;
  border-radius: 10px;

}
button:hover{
  cursor: pointer;
}
.navButton {
  height: fit-content;
  font-family: "Google Sans";
  font-size: larger;
  background-color: white;
  border: black 2px solid;
  border-radius: 10px;
}
.navButton:hover{
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  margin: auto;
  padding-top: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gainsboro;
  padding: 0.7em;
  max-height: fit-content;
  max-width: fit-content;
  border-radius: 20px;
  box-shadow: 2px 1px 10px 0px #424242;
  overflow: hidden;
  z-index: 1050;
}

.modal-content {
  animation-name: animate;
  animation-duration: 0.5s
}

@keyframes animate {
  from {
    top: -320px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.close {
  font-size: 30px;
  font-weight: bold;
}
.close:hover{
  cursor: pointer;
}

input {
  display: block;
}

.post {
  border: 5px;
  border-style: double;
  border-color: black;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 49%;
}
.postTitle{
  font-weight: bold;
}
div.postTitle{
  max-width: 500px;
}
div.postBody{
  max-width: 500px;
}
p {
  width: 90%;
  height: fit-content;
}
#info{
  display: flex;
  justify-content: center;
  align-items: center;
}
#info-filling {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.comment {
  background-color: #F9F8F8;
  border: 5px solid;
  border-radius: 10px;
  border-color: #474044;
  width: 90%;
  margin: 5px;
}
.comments{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  max-width: 100px;
  max-height: 100px;
}

#all-albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album {
  background-color: honeydew;
  display: flex;
  margin: 5px;
  padding: 5px;
  width: 150px;
  height: 220px;
  border: 3px solid;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 5px 4px 79px -31px rgba(34, 60, 80, 0.2);
  transition: all .5s ease-in-out;
}

.album:hover {
  cursor: pointer;
  transform: scale(1.1);
}

p {
  text-align: center;
}

.form-input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 5px; 
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 50%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

#information {
  display: flex;
  justify-content: center;
}

.actionButtons{
  margin: 5px;
  display: flex;
  justify-content: center;
}